In [16]:
import import_ipynb
import pandas as pd
from functions import *

In [21]:
test = pd.read_csv("../data/raw/aps_failure_test_set.csv")

In [22]:
test

,class,aa_000,ab_000,ac_000,ad_000,ae_000,af_000,ag_000,ag_001,ag_002,...,ee_002,ee_003,ee_004,ee_005,ee_006,ee_007,ee_008,ee_009,ef_000,eg_000
0,neg,60,0,20,12,0,0,0,0,0,...,1098,138,412,654,78,88,0,0,0,0
1,neg,82,0,68,40,0,0,0,0,0,...,1068,276,1620,116,86,462,0,0,0,0
2,neg,66002,2,212,112,0,0,0,0,0,...,495076,380368,440134,269556,1315022,153680,516,0,0,0
3,neg,59816,na,1010,936,0,0,0,0,0,...,540820,243270,483302,485332,431376,210074,281662,3232,0,0
4,neg,1814,na,156,140,0,0,0,0,0,...,7646,4144,18466,49782,3176,482,76,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15995,neg,81852,na,2130706432,892,0,0,0,0,0,...,632658,273242,510354,373918,349840,317840,960024,25566,0,0
15996,neg,18,0,52,46,8,26,0,0,0,...,266,44,46,14,2,0,0,0,0,0
15997,neg,79636,na,1670,1518,0,0,0,0,0,...,806832,449962,778826,581558,375498,222866,358934,19548,0,0
15998,neg,110,na,36,32,0,0,0,0,0,...,588,210,180,544,1004,1338,74,0,0,0
15999,neg,8,0,6,4,2,2,0,0,0,...,46,10,48,14,42,46,0,0,0,0

## Setting up null models (classifying all samples as positive/negative) 

Since null models can be done without any modelling, ideally , our machine learning model must have a lower test cost compared to null models (else our models provide no values).

In [23]:
positive_labels = {'positive_predictions':['pos']*len(test)}
positive_predictions = pd.DataFrame(positive_labels)

negative_labels = {'negative_predictions':['neg']*len(test)}
negative_predictions = pd.DataFrame(negative_labels)

## Calculate Cost when predicting all variables to be positive

we get total misclassification cost to be  $156250

In [26]:
cost(test['class'],positive_predictions)

wrongly labelled positives = 15625
wrongly labelled negatives = 0
total cost of wrongly labelling = 156250

## Calculate Cost when predicting all variables to be negative

we get total misclassification cost to be  $187500

In [27]:
cost(test['class'],negative_predictions)

wrongly labelled positives = 0
wrongly labelled negatives = 375
total cost of wrongly labelling = 187500

# Establishing a kill metrics

So here, our kill metrics will be the minimum between the null model misclassification cost = min(187500, 156250) = $156250. And also note by comparing the null models, we see that its better to assume all samples here are positives and sending them to the mechanics , safety first y'all!

Meaning that we will reject the model, given that when the model produces a test cost metrics > $156250.